@font-face {
  font-family: "Sofia";
  src: url('../font/SofiaPro/SofiaProMedium.ttf');
}
@font-face {
  font-family: "OpenSans";
  src: url('../font/OpenSans/OpenSans-Medium.ttf');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  overflow-x: hidden;
}
body{
  background: rgb(250, 250, 252);
}
.login_page{
  width: 100vw;
  height: 100vh;
  background: url("../img/login_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.login_logo{
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 180px;
  justify-content: center;
}
.login_container{
  height: 100%;
}
.login_container .row{
  height: 100%;
}

.login_form_f{
  height: 100%;
  width: 100%;
  padding: 12px;
}
.login_form_bg{
  height: 100%;
  background: radial-gradient(204.29% 100% at 50% 0%, #3068FE 0%, #000E33 29.94%);
  border-radius: 24px;
}
.login_forms{
  display: flex;
  justify-content: center;
  height: 100%;
  padding-top: 120px;
}
.input_f{
  display: flex;
  align-items: center;
  width: 360px;
  height: 48px;
  background: #FFFFFF;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 24px;
  padding-right: 14px;
}
.login_button{
  text-align: center;
  margin-top: 60px;
}
.login_button button{
  width: 168px;
  height: 48px;
  background: #3068FE;
  border-radius: 4px;
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 0;
}
.input_f input{
  width: 100%;
  height: 100%;
  outline: none;
  border: 0;
  background: none;
  padding-left: 20px;
}
.input_f input::placeholder{
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.25px;
  color: #919EAD;
}
.form_input_group label{
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #919EAD;
  margin-bottom: 4px;

}
.login_title{
  font-family: 'Sofia';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 42px;
  color: #FFFFFF;
  text-align: center;
}
.login_name{
  font-family: 'Sofia';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 120px;
}
.login_name span{
  opacity: 0.4;
}
.sidebar{
    width: 270px;
    height: 100vh;
    padding: 12px;
    position: fixed;
}
.side_menus{
  width: 100%;
  height: 100%;
  background: #000E33;
  border-radius: 24px;
  display: flex;
  justify-content: center;
}
.side_logo{
  display: flex;
  justify-content: center;
}
.side_logo img{
  margin-top: 12px;
  width: 96px;
}
.border_gr{
  margin-left: 14px;
  width: 196px;
  height: 2px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 24.48%, #FFFFFF 50%, #FFFFFF 75.52%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0) 100%);
  border-radius: 2px;
  margin-top: 12px;
  margin-bottom: 60px;
}
.main_menus{
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FEFFFF;
  width: 216px;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 24px;

}
.main_menus svg{
  margin-right: 40px;
}
.side_menus a{
  text-decoration: none;
}
.main_menus:hover{
  background: rgba(255, 255, 255, 0.12);
  border-radius: 12px;
}
.main_menus.active{
  background: rgba(255, 255, 255, 0.24);
  border-radius: 12px;
}
.img_avatar{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  overflow: hidden;
}
.img_avatar img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.menu_btn{
  background: none;
  border: 0;
  outline: none;
}
.avatar_user{
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FEFFFF;
}
.avatar_text{
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #E9ECEF;
}
.menu_btn{
  display: flex;
  align-items: center;
}
.avatar_content{
  text-align: left;
  margin-left: 18px;
}
.avatar_position{
  position: absolute;
  bottom: 30px;
}
.sidebar_right{
  width: 360px;
  border-radius: 20px 0px 0px 20px;
  background: #ffffff;
  position: fixed;
  right: -400px;
  height: 100%;
  transition: .4s;
}
.sidebar_right_navbar{
  background: linear-gradient(90deg, #000E33 0%, #3068FE 100%);
  border-radius: 20px 0px 0px 0px;
  width: 100%;
  height: 120px;
  position: relative;
}
.avatar_img{
  position: absolute;
  top: 50%;
  left: 24px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #FFFFFF;
}
.avatar_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.button_exit{

  position: absolute;
  bottom: 96px;
  left: 96px;
}

.button_exit button{
  width: 168px;
  height: 48px;
  background: #3068FE;
  border-radius: 4px;
  border: 0;
  outline: none;
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;

}
.exit_menuss{
  width: 100vw;
  height: 100vh;
  background:rgba(148, 140, 140, 0.7);
  z-index: -3;
  position: fixed;
  opacity: 0;

}
.exit_menuss.active{
 opacity: 1;
  z-index: 222;
}
.sidebar_right.active{
  right: 0;
  transition: 300ms;
}
.content_container{
  padding-left: 280px;
  padding-right: 12px;
}
.page_names{
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
}
.page_names .title{
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  color: #1F1F1F;

}
.page_names .description{
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1F1F1F;
}
.section_title{
  display: flex;
  align-items: center;
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
  color: #919EAD;
  padding-top: 48px;
  width: 500px;
}
.section_title svg{
  margin-left: 24px;
}
.section_cards{
  background: #FEFFFF;
  border-radius: 8px;
  width: 100%;
  height: 60px;
  margin-top: 24px;
  padding: 26px;
  display: flex;
  align-items: center;
}
.card_title{
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #919EAD;
  margin-left: 14px;

}
.section_card_border{
  display: flex;
  justify-content: center;
}

.section_card_border div{
  margin-top: 24px;
  border-bottom: 1px solid #E9ECEF;
  width: 98%;

}
.section_card a{
  text-decoration: none;
}
.section_cards:hover{
  background: #7399FE;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}
.section_cards:hover .card_title{
  color: #FEFFFF;
}
.section_card a:focus .section_cards{
  background: #3068FE;

  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}
.section_card a:focus  .card_title{
  color: #FEFFFF;
}
.page_names a{
  text-decoration: none;
}
.lang_title{
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #919EAD;

}
.create_museum{
  margin-top: 48px;
}
.museum_lang{
  display: flex;
  align-items: center;
}
.multuple_lang{
  margin-left: 52px;
  position: relative;
}
.multuple_lang button{
  background: none;
  outline: none;
  border: 0;
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #919EAD;
}
.multuple_lang button svg{
  margin-left: 8px;
}
.drop_menu{
  background: #FFFFFF;
  /* Card elevating */
  position: absolute;
  border-radius: 8px;
  width: 168px;
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;

  top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drop_menu button{
  margin-top: 12px;
  position: relative;
}

.drop_menu button svg{
  margin-left: 0;
  margin-right: 12px;
  position: absolute;
  left: -25px;
  top: 8px;
}

.drop_menu button.active{
  color: #3068FE;

}
.drop_menu.active{
  max-height: 172px;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
  z-index: 2;
}
.text_card{
  background: #FEFFFF;
  border-radius: 8px;
  padding: 24px;
  margin-top: 24px;
}
.text_content{
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1F1F1F;
  word-break: break-all;
}
.text_border{
  border: 1px solid #E9ECEF;
  margin-top: 24px;
}
.text_date{
  display: flex;
  align-items: center;
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1F1F1F;
  padding-top: 24px;
}
.text_date span{
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #919EAD;
  padding-right: 24px;
}
.text_button{
  text-align: right;
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
}
.text_button button{
  background: #3068FE;
  border-radius: 4px;
  width: 264px;
  height: 48px;
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 0;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;

}
.text_button button svg{
  margin-right: 14px;
}
.text_button label{
  background: #3068FE;
  border-radius: 4px;
  width: 264px;
  height: 48px;
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 0;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.text_button label svg{
  margin-right: 14px;
}
.important{
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #F63060;
  margin-top: 48px;
}
.photo_important{
  margin-bottom: 70px;
}
.images_group{
  position: relative;
  overflow: hidden;
  margin-top: 24px;
}

.images_group img{
  width: 100%;
  height: 240px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 24px;
}
.image_f{
  position: absolute;
  width: 94%;
  height: 240px;
  top: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.main_link{
  margin-right: 48px;
}
.image_f:hover{
  background: rgba(0, 0, 0, 0.64);
  opacity: 1;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}
.main_action{
  display: flex;
  align-items: center;
}
.main_action a div{
  background: rgba(254, 255, 255, 0.32);
  border-radius: 12px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_action a:hover{
  background: rgba(254, 255, 255, 0.7);
  border-radius: 12px;
}

.textareashadow{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0,0,0,0.4);
  z-index: 1;
  overflow: hidden;
}
.text_area{
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}
.text_area_f{
  background: #FAFAFC;
  border-radius: 20px;
  width: 1100px;
  padding: 24px;
  height: 600px;
  overflow-y: scroll;

}
.text_area_f textarea{
  width: 100%;
  height: 20vh;
}

.text_area_head{
  background: #FEFFFF;
  border-radius: 20px;
  width: 100%;
  height: 72px;
  padding: 24px;
}
.textarea{
  background: #FEFFFF;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 13px 20px;
  height: auto;


}
.textarea:hover{
  box-shadow: none;
}
.textarea:hover{
  border: 1px solid #3068FE;
}

.textarea textarea{
  outline: none;
  border: 0;
}
.text_name{
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #919EAD;
  margin-top: 24px;
  margin-bottom: 4px;

}
.table_employee{
  background: #FEFFFF;
  border-radius: 24px;
  width: 100%;
  height: 100vh;
  margin-top: 48px;
}
.table_employee table{
  width: 100%;
}
.table_employee th{
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #919EAD;
  padding: 24px;
}
.table_employee td{
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1F1F1F;
  padding: 24px;
}
.em_name{
  padding-right: 50px;
}
.em_phone{
  padding-right: 128px;
}
.em_lang{
  padding-right: 135px;
}
.em_action div{

  width: 600px;
  display: flex;
  justify-content: flex-end;
}

.em_action div a{
  margin-left: 30px;
}
.td_style{
  border-bottom: 1px solid #E9ECEF;

}
.content_buttons{
  display: flex;
  justify-content: center;
  margin-top: 48px;
}
.content_buttons button{
  border-radius: 4px;
  width: 168px;
  height: 50px;
  border: 0;
  outline: none;
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #FEFFFF;
}

.content_buttons button.exit{
  background: #F63060;
}
.content_buttons button.succes_button{
  background: #3068FE;
  margin-left: 24px;
}
.eyes{
  position: relative;
}
.border_eye{
  position: absolute;
  width: 3px !important;
  height: 23px;
  background: #F63060;
  transform: rotate(45deg);
  right: 10px;
  border-radius: 24px;
}
.search_input_form{
  background: #FFFFFF;
  border: 1px solid #E9ECEF;
  border-radius: 12px;
  width: 360px;
  height: 40px;
  align-items: center;
  display: flex;
  padding-left: 14px;
}
.search_input_form input{
  width: 100%;
  height: 100%;
  background: none;
  outline: none;
  border: 0;
  color: #919EAD;
  font-family: "OpenSans";
  margin-left: 15px;
}
.search_input_form input::placeholder{
  color: #919EAD;
  font-family: "OpenSans";
}
.theme--light.v-application{
  background: none !important;
  height: max-content !important;
}
.switch_container{
  display: flex;
  margin-top: 50px;
}
.vswitch{
  margin-left: 150px;
}
.switch_text{
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #919EAD;
  display: flex;
  align-items: center;
  margin-left: 24px;

}
.author_name span{
  margin-right: 40px;
}
.author_image{
  display: flex;

}
.author_image label{
  width: 168px;
  height: 168px;
  background: #E9ECEF;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px dashed #919EAD;
  border-radius: 4px;
  margin-top: 24px;

}
.auth_text{
  text-align: center;
}
.text_name{
  margin-top: 16px;
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #919EAD;
}
.aut_image_imp{
  margin-top: 20px;
}
.auth_photo_important{
  margin-left: 24px;
}
.auth_photo_important .text_date{
  padding-top: 16px;
}
.contacts{
  display: flex;
  align-items: center;
  margin-top: 48px;
}
.contacts .section_title{
  padding-top: 0;
}
.input_contacts label{
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #919EAD;
  margin-top: 24px;
}
.input_father{
  background: #FFFFFF;
  /* Input Shadow */

  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  width: 100%;
  height: 48px;
  overflow: hidden;
}
.input_father input{
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #919EAD;
}

.input_father textarea{
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #919EAD;
  padding-top: 20px;
}
.input_father input::placeholder{
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #919EAD;
}
.input_father textarea::placeholder{
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #919EAD;
}
.add_input{
  display: flex;
  align-items: center;
}
.add_input .add_btn{
  width: 72px;
  height: 48px;
  background: #3068FE;
  border-radius: 8px;
  margin-left: 24px;
}
.add_btn.delete_btn{
  background: #F63060;
}
.text_area_input{
  height: 96px;
}
.add_forms{
  background: #3068FE;
  border-radius: 4px;
  width: 264px;
  height: 48px;
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;

}
.add_forms svg{
  margin-right: 16px;
}
.add_forms_f{
  text-align: right;
}
.add_forms.delete_forms_f{
background: #F63060;
}
.v-application a{
  background: #3068FE;
  border-radius: 4px;
  padding: 16px 66px;
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}
.v-application a svg{
  margin-right: 14px;
}
.select_label{
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #919EAD;
  margin-top: 50px;
}
